*.exe
*.dll
*.bpl
*.dcp
*.dcu
*.so
*.apk
*.ipa
*.app
*.map
*.drc
*.rsm
*.tds
*.il?
*.obj
*.o
*.ppu
*.or
*.a
*.dsk
*.identcache
*.local
*.projdata
*.tvsconfig
*.stat
*.~*
*.bak
*.ddp
*.dof
*.cfg
*.log
*.tmp
Win32/
Win64/
Linux64/
Android/
iOSDevice64/
iOSSimulator/
OSX64/
__history/
__recovery/
packages/
modules/
.idea/
.vscode/
*.sqlite
*.sqlite3

